# Database credentials
DB_PORT=5432
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_NAME=your_database_name

# API Routes
AUTH_URL=http://localhost:3001/auth
CLIENTS_URL=http://localhost:3001/clients
BASE_URL=http://localhost:3001

# Server port
SERVER_PORT=3001
